<div class="card my-3">
    <div class="card-body">
        <span *ngIf="!estaEditando">{{ messageVarClasse.content }}</span>
        <div [hidden]="!estaEditando">
            <input type="text" 
                class="form-control" 
                value="{{ messageVarClasse.content }}" 
                required 
                #editBox>
        </div>
    </div>

    <div class="card-footer" [ngStyle]="{'background-color': isMessageOwner() ? '#dde8ff' : ''}">
        {{ messageVarClasse.username }}
        <div *ngIf="isMessageOwner()">
            <div class="config" *ngIf="!estaEditando">
                <a (click)="onEdit()">Edit</a> |
                <a (click)="onDelete()">Delete</a>
            </div>
            <div *ngIf="estaEditando">
                <button type="button" class="btn btn-primary btn-sm" (click)="submitEdit(editBox.value)">Submit</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="cancelEdit()">Cancel</button>
            </div>
        </div>
    </div>
</div>
