<div class="card my-3">
    <div class="card-body">
        {{ messageVarClasse.content }}
    </div>
    <div class="card-footer">
        {{ messageVarClasse.username }}
        <div class="config">
            <a (click)="onEdit()">Edit</a> |
            <a (click)="onDelete()">Delete</a>
        </div>
    </div>
</div>
<!--
<article class="panel panel-default" [ngStyle]="{backgroundColor: color, 'font-size.px': tam}"
                                        (click)="color = 'yellow'"
                                        (dblclick)="onMudaStyle()"
                                        (mouseenter)="color = 'green'"
                                        (mouseleave)="color = 'blue'">
    <div class="panel-body">
        {{ messageVarClasse.content }}
        {{ messageVarClasseAlias.content }}
        //{{ message.content }}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ messageVarClasse.username }}
            {{ messageVarClasseAlias.username }}
           //{{ message.author }}
        </div>
        <div class="config">
            <a href="#" (click)="onEdit()">Edit</a>
            <a href="#">Delete</a>
        </div>
    </footer>
</article>
-->