<div class="card my-3">
    <div class="card-body">
        <span *ngIf="!estaEditando">{{ messageVarClasse.content }}</span>
        <div [hidden]="!estaEditando">
            <input type="text" 
                class="form-control" 
                value="{{ messageVarClasse.content }}" 
                required 
                #editBox>
        </div>
    </div>

    <div class="card-footer">
        {{ messageVarClasse.username }}
        <div class="config" *ngIf="!estaEditando">
            <a (click)="onEdit()">Edit</a> |
            <a (click)="onDelete()">Delete</a>
        </div>
        <div *ngIf="estaEditando">
            <button type="button" class="btn btn-primary btn-sm" (click)="submitEdit(editBox.value)">Submit</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="cancelEdit()">Cancel</button>
        </div>
    </div>
</div>
<!--
<article class="panel panel-default" [ngStyle]="{backgroundColor: color, 'font-size.px': tam}"
                                        (click)="color = 'yellow'"
                                        (dblclick)="onMudaStyle()"
                                        (mouseenter)="color = 'green'"
                                        (mouseleave)="color = 'blue'">
    <div class="panel-body">
        {{ messageVarClasse.content }}
        {{ messageVarClasseAlias.content }}
        //{{ message.content }}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ messageVarClasse.username }}
            {{ messageVarClasseAlias.username }}
           //{{ message.author }}
        </div>
        <div class="config">
            <a href="#" (click)="onEdit()">Edit</a>
            <a href="#">Delete</a>
        </div>
    </footer>
</article>
-->
