<div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
        <h3 class="font-bold text-center">SIGN IN</h3>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control form-control-lg" placeholder="Email address" formControlName="emailTS">
            </div>
            <div class="form-group">
                <label for="pass">Senha:</label>
                <input type="password" id="pass" class="form-control form-control-lg" placeholder="Password" formControlName="passwordTS">
            </div>
            <button class="btn btn-lg btn-block btn-primary" type="submit" [disabled]="!myForm.valid">Logar</button>
        </form>
        <p class="text-center mt-3">
            Don't have an account yet <a [routerLink]="['/signup']">Sign up</a>.
        </p>
    </div>
</div>
